<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="name" value="Workstation2"/>
    <add key="com1" value="COM4"/>
    <add key="com2" value="COM5"/>
  </appSettings>
</configuration>
